---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("2025-02-10")}
>

<p>Software engineer working in Japan.</p>

<ul>
	<li>2024/02 ~ current: self-employed engineer</li>
	<li>2021/12 ~ 2024/01: MedUp Inc.</li>
	<li>2018/04 ~ 2021/11: Unipos Inc.</li>
</ul>
</Layout>
